* {
    box-sizing:border-box;
}



body {
    background-color: #87CEEB;
   
}
header{
     background-image: linear-gradient(#87CEEB,#F7CD5D);
     text-align: center;
     color: #FFFFFF;
    
}
header h1 {
    margin: 0;
}
header img {
     border-radius: 5px;
}

/*Small screen nav*/
@media only screen and (max-width: 800px) {



nav ul {
margin: 0;
padding: 0;
}

nav a {
display: block;
text-decoration: none;
padding: .8rem;
color: #000000 ;
text-align: center;
font-weight: 700;
text-transform: capitalize;
text-align: center;



}

nav .active a {
color: #FFFFFF;
    

}






}



/*big screen thing now*/

@media only screen and (min-width: 801px) {

nav {
background-image: linear-gradient(#F7CD5D,#87ceeb);

}

nav ul {
    margin: 0;
    padding: 0 2vw;
display: flex;
list-style-type: none;
text-align: center;
justify-content: center;





}

nav a {
display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    
    




}

nav .active a {

color: #FFFFFF;
}

nav a:hover {
color: #fff;

}




ul {
    margin: 0;
    padding: 0 2vw;
display: flex;
list-style-type: none;
text-align: center;
justify-content: center;





}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #000000;
}


}


/*back to normal*/
main h1{
    text-align: center;
    color: #FFFFFF;
}
main {
    font-size: x-large;
}
main img {
    justify-content: center;
     border-radius: 5px;
    
}
main iframe {
     border-radius: 20px;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #FFFFFF;
}
div img {
    border-radius: 20px;
}
div img:hover {
    box-shadow: 0px 0px 10px rgba(100, 60, 20,0.5);
}
 .myForm text {
   color: aliceblue;
}
 fieldset {
    background-image: linear-gradient(#F7cd5d,#43a0b6);
 }
    
.myForm fieldset {
    color: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #43a0b6;
    font-size: .8rem;
}

.myForm label {
    margin: .5em;
}

.myForm label .myForm select, .myForm  [type=text],  .myForm textarea{
    display: block;
}
.myForm  [type=text],  .myForm textarea {
 
    border: solid 1px #F7CD5D;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
  


}
.myForm textarea {
    height: 6rem;
    background-color: #F7CD5D;
    padding: 10px;
}

.myForm :required, .myForm [type=text] {
    background-color: rgb(156,51,52,0.1);
}



.myForm [type=submit] {
background-color: #F7CD5D;
border: none;
padding: 1rem 2rem;
border-radius:10px;
color: white;
margin: 1rem 0 0 1vw;

}



main, footer {
    max-width: 64rem ;
    margin: 0 auto;

 }