

body {
    margin: 0;
    background-color: #291c45;
    color: #509b99;
    
}
/*comment*/
header {
    color: #44c6c2;
    padding: .5rem 10px;
    margin-bottom: 0px;
    background-color: #415b7e;
}
header h1 {
    padding: 0;
    margin: 0;
}

header h2 {
    margin-bottom: 0;
}

header span{
font-size:  1.6rem; ;
}



nav {
    background-color: #415b7e;
}
nav h3 {
    color: #44c6c2;
    margin: 0;
}
nav ul {
    margin: 0px;
    padding: 0rem 10px;
    background-color: #415b7e;
    display: flex;
}

nav li {
    display: block;
    padding: 10px 10px 10px 10px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 700;

}

nav a {
  
    color: #64e7dd;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav li.active a{

    color: #64e709;

}

nav ul li a:hover{
 color: white;
}
nav ul a:hover {
    color: white;
}
main h2 {
     color: #44c6c2;
}

main dl dt {
    color: #44c6c2;
}

main a{
    color: #64e7dd;
    text-decoration: none;

}
main li a:hover {
    color: white;
}

main h3 {
     color: #44c6c2;
}
main address { font-style: normal;
    background-color: #291c45;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #291c45;
    width: 200px;}



.myForm text {
   color: aliceblue;
}

    
.myForm fieldset {
    color: #43a0b6;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #43a0b6;
    font-size: .8rem;
}

.myForm label {
    margin: .5em;
}

.myForm label .myForm select, .myForm  [type=text],  .myForm textarea{
    display: block;
}
.myForm  [type=text],  .myForm textarea {
 
    border: solid 1px #43a0b6;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
  


}
.myForm textarea {
    height: 6rem;
    background-color: #43a0b6;
    padding: 10px;
}

.myForm :required, .myForm [type=text] {
    background-color: rgb(156,51,52,0.1);
}



.myForm [type=submit] {
background-color: #43a0b6;
border: none;
padding: 1rem 2rem;
border-radius:10px;
color: white;
margin: 1rem 0 0 1vw;

}


 div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #b64e11;
}

