
* {
    box-sizing:border-box;
}
body {
    margin: 0;
    background-color: #291c45;
    color: #509b99;
    text-align: flex;
    
}
/*comment*/
header {
    background-color: #44c6c2;
    display: flex;
    display: block;
    color: #44c6c2;
    padding: 1rem 2vw;
    margin-bottom: 0%;
    background-color: #415b7e;
    text-align: center;
   background-image: linear-gradient(to bottom,#509b99,#5f4999);
    
}

header h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

header h2 {
    margin-bottom: 0;
    text-align: center;
}

header span{
font-size:  1.6rem; ;

}

/*Small screen nav*/

@media only screen and (max-width: 800px) {



nav ul {
margin: 0;
padding: 0;
}

nav a {
display: block;
text-decoration: none;
padding: .8rem;
color: #44c6c2 ;
text-align: center;
font-weight: 700;
text-transform: capitalize;
text-align: center;



}

nav .active a {
background-color: #509b99;
    color: #291c45;
    background-image: linear-gradient(to bottom,#509b99,#5f4999);
    

}






}


/*big screen thing now*/

@media only screen and (min-width: 801px) {

nav {
border-top: solid 1px;
color: #43a0b6 ;

}

nav ul {
    margin: 0;
    padding: 0 2vw;
display: flex;
list-style-type: none;
text-align: center;



}

nav a {
display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #43a0b6;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #43a0b6;





}

nav .active a {
border-bottom: solid 2px #44c6c2;
color: #64e7dd;
}

nav a:hover {
color: #fff;

}







}


main h2 {
     color: #44c6c2;
}

main iframe {
    text-align: center;
    display: flexbox;
}

.hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
   
}

main dl dt {
    color: #44c6c2;
}

main a{
    color: #64e7dd;
    text-decoration: none;

}
main li a:hover {
    color: white;
}

main h3 {
     color: #44c6c2;
}
main address { font-style: normal;
    background-color: #291c45;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #291c45;
    width: 200px;}

main table{
    color: #64e7dd;
    box-sizing: border-box;
    border: 1px solid#64e7dd;
    background-color: #415b7e;
    font-size: large;
    
}
main table td {
    background-color: #291c45;
}

    

#coolio{
    background-color: #5f4999;
}
.myForm text {
   color: aliceblue;
}

    
.myForm fieldset {
    color: #43a0b6;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #43a0b6;
    font-size: .8rem;
}

.myForm label {
    margin: .5em;
}

.myForm label .myForm select, .myForm  [type=text],  .myForm textarea{
    display: block;
}
.myForm  [type=text],  .myForm textarea {
 
    border: solid 1px #43a0b6;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
  


}
.myForm textarea {
    height: 6rem;
    background-color: #43a0b6;
    padding: 10px;
}

.myForm :required, .myForm [type=text] {
    background-color: rgb(156,51,52,0.1);
}



.myForm [type=submit] {
background-color: #43a0b6;
border: none;
padding: 1rem 2rem;
border-radius:10px;
color: white;
margin: 1rem 0 0 1vw;

}


 div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #44c6c2;
}
div.gallery img {
    
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(100, 60, 20,0.5);
}
 nav, main, footer {
    max-width: 64rem ;
    margin: 0 auto;

 }

